<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.inf325.ventarron"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.inf325.ventarron.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.inf325.ventarron.ProductListActivity"
            android:label="@string/title_activity_product_list" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.EditProductActivity"
            android:label="@string/title_activity_edit_product" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.ClientListActivity"
            android:label="@string/title_activity_client_list" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.EditClientActivity"
            android:label="@string/title_activity_edit_client" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.UserListActivity"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.EditUserActivity"
            android:label="@string/title_activity_edit_user" >
        </activity>
        <activity android:name="org.inf325.ventarron.PermissionActivity" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.SaleProductListActivity"
            android:label="@string/title_activity_sale_product_list" >
        </activity>
        <activity
            android:name="org.inf325.ventarron.SaleSelectedProductListActivity"
            android:label="@string/title_activity_sale_selected_product_list" >
        </activity>
    </application>

</manifest>
